.root{
    -fx-font-family:Rockwell;
}
#body {
     -fx-background-color: linear-gradient(rgba(249,236,191,1) 0%, rgba(247,240,216,1) 35%, rgba(245,240,223,1) 100%);
}

#titulo{
    -fx-text-fill:#fff;
    -fx-font-size:61px;
}

#textoInicio{
    -fx-text-fill:#fff;
    -fx-background-color:rgba(0,0,0,0.2);
    -fx-font-size:26px;
}

.boton{
    -fx-background-color:rgba(0,0,0,0.1);
    -fx-border-color: #000;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-font-size:31px;
    -fx-text-fill:#000;
    -fx-border-radius: 10px;
    -fx-background-radius: 12px;
}

.boton:hover {
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-background-color:rgba(255,255,255,0.2);
    -fx-border-color: #fff;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}




/*Estilos de tablas*/

.table-view {
    -fx-background-color: #f4f4f4;
}

.table-column {
    -fx-alignment: CENTER;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, #4a90e2, #357abd);
}

.table-view .column-header {
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.table-row-cell:odd {
    -fx-background-color: #e0e0e0;
}

.table-row-cell:even {
    -fx-background-color: #ffffff;
}

.table-row-cell:hover {
    -fx-background-color: #c4c4c4;
}

.table-row-cell:filled:selected {
    -fx-background-color: #000;
    -fx-text-fill: white;
}
