
/*Estilos generales*/

.root{
    -fx-font-family:Rockwell;
}

#body {
     -fx-background-color: linear-gradient(rgba(249,236,191,1) 0%, rgba(247,240,216,1) 35%, rgba(245,240,223,1) 100%);
}

/*Estilos pantalla principal*/

#titulo{
    -fx-text-fill:#D9A53F;
    -fx-font-size:61px;
}

#textoInicio{
    -fx-text-fill:#fff;
    -fx-background-color:rgba(0,0,0,0.2);
    -fx-font-size:26px;
}

.boton{
    -fx-background-color:rgba(0,0,0,0.1);
    -fx-border-color: #000;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-font-size:31px;
    -fx-text-fill:#000;
    -fx-border-radius: 10px;
    -fx-background-radius: 12px;
}

.boton:hover {
    -fx-background-color:rgba(255,255,255,0.2);
    -fx-border-color: #fff;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}


/*Estilo de Gestion*/

#tituloGestion{
    -fx-text-fill:#D9A53F;
    -fx-font-size:61px;
}

#botonVolver:hover{
    -fx-background-color:#d95f27;
    -fx-text-fill:#fff;
    -fx-font-size:16px;
    -fx-font-weight:bold;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;

}

.anyadirTextField{
    -fx-border-color:#efbe30;
    -fx-background-color:#fff;
    -fx-padding:5px;
    -fx-font-size: 12px;
    -fx-border:solid;
    -fx-border-size:3px;
    -fx-border-radius:5px;
    -fx-background-radius:5px;
}

.anyadirTextField:focused{
    -fx-border:solid;
    -fx-border-color:#000;
    -fx-border-size:2px;
}

.botonGestion{
    -fx-background-color:rgba(239, 190, 48, 0.7);
    -fx-padding:5px 10px 5px 10px;
    -fx-border-radius:20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.3, 0, 0);
}

.botonGestion:hover{
    -fx-background-color:rgba(239, 190, 48, 1);
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

/*Estilos de tablas*/

.table-column {
    -fx-alignment: CENTER;
}

.table-view {
    -fx-background-radius: 10px 10px 0 0;
}

.table-view .column-header-background {
    -fx-background-color: #D9A53F;
    -fx-background-radius: 10px 10px 0 0;
    -fx-border-radius: 10px 10px 0 0;
    -fx-background-insets: 0;
    -fx-padding: 5px;
}

.table-view .corner {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: #D9A53F;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #D9A53F;
    -fx-background-radius: 5;
}

.table-view .filler {
    -fx-background-color: #D9A53F;
}

.table-row-cell:odd {
    -fx-background-color: #f7f3eb;
}

.table-row-cell:even {
    -fx-background-color: #fff;
}

.table-row-cell:hover {
    -fx-background-color: #e8d9b8;
}

.table-row-cell:filled:selected {
    -fx-background-color: rgba(56, 177, 32,0.5);
}